#container{
    margin: auto;
    height: 600px;
    width: 600px;
    border: solid black;
    border-width: 1px;
    background-color: darkgray;
}

#screen {
    height:110px;
    width: 550px;
    margin:auto;
    margin-top: 10px;
    border: solid black;
    border-width: 1px;
    background-color: white;
}

#keyContainer {
    height:446px;
    width: 550px;
    margin:auto;
    margin-top: 20px;
}

tr {
    border: solid black;
    border-width: 1px;
    height: 87px;
}

td {
    border: solid black;
    border-width: 1px;
    width: 136px;
}

button {
    display: block;
    margin: auto;
    border: none;
    font-size: 30px;
    width: 100%;
    height: 83px;
}

button:hover {
    background-color: lawngreen;
}

button:active {
    background-color: darkslategray;
}

#previous {
    height: 20px;
    border: solid black;
    border-width: 1px;
}

#current {
    height: 86px;
    border: solid black;
    border-width: 1px;
}

#currentDisplay {
    text-align: right;
    font-size: 50px;
    margin-bottom: 0px;
    margin-top: 30px;
    margin-right: 10px;
}

#previousDisplay {
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
    font-size: 15px;
    text-align: right;
}

.class0 {
    background-color: red;
}

.class1 {
    background-color: orange;
}

.class5 {
    background-color: orange;
}

.class9 {
    background-color: orange;
}

.class13 {
    background-color: orange;
}

.class14 {
    background-color: skyblue;
}

.class16 {
    background-color: skyblue;
}

.class17 {
    background-color: orange;
}